:root {
  /* colors poached from rose-pine neovim theme */
  color-scheme: light dark;

  --background-lighter: light-dark(#fffaf3, #2a273f);
  --background-light: light-dark(#faf4ed, #232136);
  --background-mid: light-dark(#f2e9e1, #393552);
  --background-dark: light-dark(#f8f0e7, #1f1d30);

  --grey-lighter: light-dark(#f4ede8, #56526e);
  --grey-light: light-dark(#dfdad9, #44415a);
  --grey-mid: light-dark(#cecacd, #393552);
  --grey-dark: light-dark(#797593, #6e6a86);

  /* text meant for sitting on background */
  --text-primary: light-dark(#464261, #e0def4);
  --text-secondary: light-dark(#797593, #908caa);
  --text-muted: light-dark(#9893a5, #6e6a86);

  /* text meant for sitting on colors */
  --primary-text: light-dark(#fffaf3, #232136);
  --secondary-text: light-dark(#fffaf3, #232136);
  --tertiary-text: light-dark(#232136, #232136);
  --grey-text: light-dark(#232136, #fffaf3);

  --primary-lighter: light-dark(#d7827e, #ea9a97);
  --primary: light-dark(#b4637a, #eb6f92);
  --primary-dark: light-dark(#8a3e5a, #c44f72);

  --secondary-lighter: light-dark(#56949f, #9ccfd8);
  --secondary: light-dark(#286983, #3e8fb0);
  --secondary-dark: light-dark(#1a4e63, #2a6a88);

  --tertiary-lighter: light-dark(#f4c87e, #fad9a0);
  --tertiary: light-dark(#ea9d34, #f6c177);
  --tertiary-dark: light-dark(#a06918, #cc8f25);

  --font-family-rounded:
    ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari,
    "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro,
    sans-serif;
}

:root.modus {
  --background-lighter: light-dark(#ffffff, #1e1e1e);
  --background-light: light-dark(#f2f2f2, #0f0f0f);
  --background-mid: light-dark(#e0e0e0, #303030);
  --background-dark: light-dark(#c8c8c8, #000000);

  --grey-lighter: light-dark(#e9e9e9, #545454);
  --grey-light: light-dark(#dfdfdf, #404040);
  --grey-mid: light-dark(#9f9f9f, #646464);
  --grey-dark: light-dark(#595959, #989898);

  --text-primary: light-dark(#000000, #ffffff);
  --text-secondary: light-dark(#595959, #989898);
  --text-muted: light-dark(#737373, #808080);

  --primary-text: light-dark(#ffffff, #000000);
  --secondary-text: light-dark(#ffffff, #000000);
  --tertiary-text: light-dark(#ffffff, #000000);
  --grey-text: light-dark(#000000, #ffffff);

  --primary-lighter: light-dark(#3f7fa0, #9ac8e0);
  --primary: light-dark(#005e8b, #00d3d0);
  --primary-dark: light-dark(#004060, #009898);

  --secondary-lighter: light-dark(#b84098, #ffc0ef);
  --secondary: light-dark(#8f0075, #f78fe7);
  --secondary-dark: light-dark(#680058, #cc60b8);

  --tertiary-lighter: light-dark(#b87030, #ffe080);
  --tertiary: light-dark(#884900, #fec43f);
  --tertiary-dark: light-dark(#603000, #cc9a20);

  --text-bright: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* nothing, this is just to inform the browser that dark mode is supported */
    --nothing: 123;
  }
}

:root button:not(:disabled),
:root [role="button"]:not(:disabled) {
  cursor: pointer;
}

body {
  background-color: var(--background-light);
  color: var(--text-primary);
  font-family: var(--font-family-rounded);
}

button {
  background-color: var(--grey-lighter);
  border: none;
  padding: 8px 12px;
  color: var(--text-primary);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--grey-light);
  }
}

button:active {
  background-color: var(--grey-mid);
  color: var(--grey-text);
  font-weight: 600;
}

input[type="search"],
input[type="text"] {
  font-size: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
  position: relative;
  bottom: 0.1rem;
  width: 1.25rem;
  height: 1.25rem;
}

@media (min-width: 1280px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.no-show {
  height: 0px;
  animation-name: show-in;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes show-in {
  0% {
    height: 0px;
    opacity: 0;
  }

  25% {
    height: auto;
    opacity: 0;
  }

  100% {
    height: auto;
    opacity: 1;
  }
}
