.dialog {
  border: 1px solid var(--grey-mid);
  background-color: var(--background-lighter);

  width: calc(100% - 48px);
  max-width: 640px;
  min-height: 360px;
  max-height: min(90vh, 720px);
}

.body {
  min-height: 360px;
  margin: 6px;
  padding: 10px;
  border: 1px solid var(--grey-light);

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 12px;
}

.content {
  overflow-x: visible;
  overflow-y: auto;
  max-height: 60vh;
  border: 1px solid transparent;
  padding: 8px;

  transition: border-color 0.3s ease;
}

.content.topGlow {
  border-top: 2px dotted
    color-mix(in srgb, var(--secondary-lighter), transparent 70%);
}

.content.bottomGlow {
  border-bottom: 2px dotted
    color-mix(in srgb, var(--secondary-lighter), transparent 70%);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
